SUBSYSTEM=="usb", ATTRS{idVendor}=="2a0e", MODE="0666"
# Sipeed SLogic Combo 8 / 16U3 / 32U3
SUBSYSTEM=="usb", ATTRS{idVendor}=="359f", ATTRS{idProduct}=="0300", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="359f", ATTRS{idProduct}=="3031", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="359f", ATTRS{idProduct}=="3032", MODE="0666"
# PXLogic (old WCH + new)
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="5237", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05dc", MODE="0666"
# Alientek ATK-Logic
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="ffcc", MODE="0666"
# nanoDLA / fx2lafw (1D50:608C/608D only; 04B4:8613 is DSLogic FX2 boot)
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608c", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608d", MODE="0666"
